*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none
}

a,
p,
li {
	font-size: 1.2rem
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem
}

h3 {
	font-size: 2rem;
}

body {
	margin: 0 auto;
	font-family: 'Maven Pro', sans-serif;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
}

.wrap {
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 720px;
	background: #D3D6DB;
	min-height: 100vh;
	box-shadow: 1px 1px 5px rgba(1, 1, 1, 0.2)
}

.sidebar {
	flex-basis: 40%;
	background: #FAFBFF;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 40px;
}

.avatar {
	border-radius: 150px;
}

.about {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.about>h3,
.about>p {
	/* margin-top: 20px; */
	margin-bottom: 20px;
	color: #AEAEB1;
}

.about h3 {
	font-weight: 400;
	font-style: italic;
	color: #606061;
}

.about h3:nth-child(1),
.skills h3:nth-child(1) {
	color: #3FD6D1;
	margin-top: 40px;
}

/* ============================================================================================================= */
.skills {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}

.tabcontent>div,
.tabs>input {
	display: none;
}

.tabs label {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	cursor: pointer;
	outline: none;
	font-size: 2.5rem;
	color: #FAFBFF;
	background: #3FD6D1;
}

.tabs input[type="radio"]:checked+label,
.tabs label:hover {
	border: 2px solid #606061;
	transition: .1s linear;
}

.tabcontent {
	height: 200px;
	;
}

.tabs>input:nth-of-type(1):checked~.tabcontent div:nth-of-type(1),
.tabs>input:nth-of-type(2):checked~.tabcontent div:nth-of-type(2),
.tabs>input:nth-of-type(3):checked~.tabcontent div:nth-of-type(3) {
	display: block;
}