@media (max-width: 1699px) {
    .main {
        height: auto;
    }

    .menu {
        width: 50%;
    }

    #service {
        width: 90%;
    }

    .services-items {
        grid-template-rows: repeat(4, minmax(269px, 270px));
        grid-template-columns: repeat(3, minmax(399px, 400px));
    }

    .social-menu {
        width: 50%;
    }

    .footer-bottom .social-menu {
        width: 60%;
    }

    .main-text {
        margin-bottom: 50px;
    }

    .contacts {
        width: 80%;
    }

    .address-phone {
        flex-direction: column;
    }

    .address,
    .phone {
        width: 100%;
        padding-bottom: 50px;
    }
}

@media (max-width: 1270px) {
    .services-items {
        grid-template-rows: repeat(5 minmax(269px, 270px));
        grid-template-columns: repeat(2, minmax(399px, 400px));
    }
}


@media (max-width: 1200px) {

    .contacts {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .contact-social>.social {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .menu {
        display: none;
    }



    .m-menu-link {
        display: block;
    }

    .m-menu li {
        padding-left: 50px;
    }

    .m-menu .order {
        margin-top: 50px;
        border: 2px solid #f0efef;
        border-radius: 30px;
        padding: 5px 10px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }

    .container,
    .logo-menu,
    .main-text-slideshow {
        width: 90%;
    }
}

@media (max-width: 999px) {
    #form-content {
        align-self: center;
        width: 100%;
        /* grid-area: cc; */
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: 60px 50px;
    }

    .footer-bottom .social {
        width: 30%;
    }
}


@media (max-width: 860px) {
    .services-items {
        grid-auto-rows: 270px;
        grid-template-columns: repeat(1, 400px);
    }
}



@media (max-width: 499px) {
    /* h1 {
        font-size: 3rem;
    } */

    #modalform {
        right: 0;
        left: 0;
        width: 100%;
    }

    .services-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .item {
        width: 280px;
        height: 340px;
    }

    .footer-bottom .social {
        width: 40%;
    }

    #form-img {
        /* grid-area: bb; */
        width: 250px;
        height: 250px;
        position: relative;
        top: 80px;
        left: 40px;
    }
}