@media (max-width: 960px) {
  #header>.wrap {
    width: 80%;
    margin-bottom: 100px;
  }

  .wrap-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 900px;
    margin-bottom: 20px;
  }

  #header .block-border {
    display: none;
  }
}

@media (max-width: 720px) {}