@media (max-width: 960px) {
  #header>.wrap {
    width: 80%;
    margin-bottom: 100px;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  .wrap-block {
    padding: 0;
  }

  .menu-block {
    margin: 0;

  }

  .wrap-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 900px;
    margin-bottom: 20px;
  }

  #header .block-border {
    display: none;
  }
}

@media (max-width: 729px) {
  #footer>.wrap {
    width: 80%;
    margin-bottom: 100px;

  }


  .wrap-block {
    height: auto;
  }

  .content-block {
    display: none;
  }
}

@media(max-width:559px) {
  h1 {
    padding: 0 20px;
  }

  #header>.wrap {
    width: 100%;
  }
}