    *,
    *:before,
    *:after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      transition: linear .1s;
      -webkit-transition: linear .1s;
      -moz-transition: linear .1s;
      -ms-transition: linear .1s;
      -o-transition: linear .1s;
    }

    button:active,
    button:hover,
    button:focus,
    input:active,
    input:hover,
    input:focus,
    textarea:active,
    textarea:hover,
    textarea:focus,
    img:active,
    img:hover,
    img:focus {
      outline: 0;
      outline-offset: 0;
    }

    ul {
      list-style: none;
    }

    h1 {
      font-size: 32px;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    body {
      /* max-width: 1920px; */
      margin: 0;
      font-family: 'AlegreyaSans-Regular', sans-serif;
      /* background: #e6e7e8; */
      overflow-x: hidden;

    }



    html {
      font-size: 10px;
      scroll-behavior: smooth;
    }

    .fil0 {
      fill: #544838;
      fill-rule: nonzero
    }

    .fil1 {
      fill: #C39B6D;
      fill-rule: nonzero
    }

    .fil2 {
      fill: #B1987F;
      fill-rule: nonzero
    }

    .wrap {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;

    }

    #header>.wrap {
      width: 960px;
      margin-bottom: 100px;
    }

    h1 {
      margin: 16px 0;
    }

    section {
      min-height: 50vh;
      width: 100%;
      background: rgba(230, 231, 232);
    }





    .wrap-block {
      width: 100%;
      height: 430px;
      position: relative;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      -webkit-box-pack: justify;
      justify-content: space-between;
      padding-right: 35px;
      overflow: hidden;
      /* border: 2px solid tomato; */
    }

    .block-border {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 0;
    }

    .block-border~* {
      position: relative;
      z-index: 1;
    }


    .block-border:before,
    .block-border:after {
      position: absolute;
      width: 150px;
      height: 120px;
      content: '';
      border-color: #fff;
      border-style: solid;
    }



    .block-border:before {
      right: 0px;
      bottom: 0px;
      border-width: 0 9px 9px 0;
      border-radius: 0 0px 10px 0;
      -webkit-border-radius: 0 0px 10px 0;
      -moz-border-radius: 0 0px 10px 0;
      -ms-border-radius: 0 0px 10px 0;
      -o-border-radius: 0 0px 10px 0;
    }

    .block-border:after {
      right: 0px;
      top: 0px;
      border-width: 9px 9px 0 0;
      border-radius: 0 10px 0 0;
      -webkit-border-radius: 0 10px 0 0;
      -moz-border-radius: 0 10px 0 0;
      -ms-border-radius: 0 10px 0 0;
      -o-border-radius: 0 10px 0 0;
    }


    .icon {
      width: 45px;
      height: 45px;
    }

    .tittle {
      width: 100%;
      margin-left: 10px;
      color: #000;
    }

    .menu-block {
      height: 100%;
      margin-right: 40px;
    }

    .menu-block-item {
      cursor: pointer;
      background-color: #fff;
      padding: 10px;
      width: 355px;
      height: 70px;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
      margin-bottom: 8px;
      border-left: 5px solid #B1987F;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }

    .menu-block-item:hover {
      color: #fff;
      background: #408463;
      border-color: #47a275;
    }

    .menu-block-item:hover .tittle {
      color: #fff;
    }

    .menu-block-item:hover path {
      fill: #fff;
    }

    .arrow {
      width: 27px;
      height: 19px;
    }

    .arrow_show {
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transition: ease-in-out .15s;
      -webkit-transition: ease-in-out .15s;
      -moz-transition: ease-in-out .15s;
      -ms-transition: ease-in-out .15s;
      -o-transition: ease-in-out .15s;
    }

    ._active {
      color: #fff;
      fill: #fff;
      background: #408463;
      border-color: #47a275;
    }

    ._active .tittle {
      color: #fff;
    }

    .sub-menu-block {
      width: 355px;
      height: 0;
      border-left: #408463 5px solid;
      border-radius: 5px;

      font-size: 16px;
      visibility: hidden;
      overflow: hidden;
    }

    ._actived {
      height: 100px;
      transition: ease-in-out .15s;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 8px;
      -webkit-transition: ease-in-out .15s;
      -moz-transition: ease-in-out .15s;
      -ms-transition: ease-in-out .15s;
      -o-transition: ease-in-out .15s;
      visibility: visible;
    }

    .content-block {
      width: 520px;
      height: 350px;
    }

    .content-block-img {
      width: auto;
      height: 100%;
      display: none;
    }

    ._show {
      display: block;
    }

    #footer {
      padding-bottom: 55px;
      position: relative;
      background: -moz-linear-gradient(top, rgba(230, 231, 232) 20%, rgba(0, 0, 0, 0) 50%), url("../img/bg_s2.png") no-repeat center / cover;
    }

    #footer>.wrap {

      width: 730px;
      padding: 20px;
      background: transparent;
    }

    #footer .wrap-block {

      width: 100%;
      height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;

      padding: 20px;

    }

    #footer.wrap {
      -webkit-box-pack: justify;
      justify-content: space-between;
    }

    .wrapper {
      padding-top: 25px;
      padding-bottom: 30px;
      width: 100%;
      height: 100%;
      background: rgba(255, 252, 252, .5);
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }

    .footer-block-border {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 0;
    }

    .footer-block-border:before,
    .footer-block-border:after {
      position: absolute;
      width: 150px;
      height: 120px;
      content: '';
      border-color: #fff;
      border-style: solid;
    }

    .footer-block-border:before {
      left: 0px;
      bottom: 0px;
      border-width: 0px 0px 9px 9px;
      border-radius: 0px 0px 0px 10px;
      -webkit-border-radius: 0px 0px 0px 10px;
      -moz-border-radius: 0px 0px 0px 10px;
      -ms-border-radius: 0px 0px 0px 10px;
      -o-border-radius: 0px 0px 0px 10px;
    }

    .footer-block-border:after {
      left: 0px;
      top: 0px;
      border-width: 9px 0px 0px 9px;
      border-radius: 10px 0px 0 0px;
      -webkit-border-radius: 10px 0px 0 0px;
      -moz-border-radius: 10px 0px 0 0px;
      -ms-border-radius: 10px 0px 0 0px;
      -o-border-radius: 10px 0px 0 0px;
    }

    .button-wrap {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      flex-wrap: wrap;
      width: 80%;
    }



    .button {
      width: 135px;
      height: 33px;
      background: #d1d3d4;
      margin: 6px;
      padding: 0;
    }


    .button .tittle {
      margin: 0;
      text-align: center;
    }

    #style .button {
      width: 100px;
      -webkit-box-pack: center;
      justify-content: center;

    }

    #style {
      margin-bottom: 20px;
    }

    .main-tittle {
      margin-bottom: 8px;
    }

    .button .icon {
      width: 22px;
      height: 22px;
      margin-left: 10px;
    }

    input {
      border: 1px solid #bcbdc0;
      padding: 10px;
      /* width: 200px; */
      text-align: center;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      margin-bottom: 25px;
    }

    .btn-wrap {
      transition: ease-in-out 1s;
      background: radial-gradient(at bottom, #fdef9f 20%, #b37e2c);
      padding: 5px;
      display: -webkit-box;
      display: flex;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      -webkit-transition: ease-in-out 1s;
      -moz-transition: ease-in-out 1s;
      -ms-transition: ease-in-out 1s;
      -o-transition: ease-in-out 1s;
    }

    .btn:hover {
      transition: ease-in-out .1s;
      background: rgba(179, 126, 44, .5);
      -webkit-transition: ease-in-out .1s;
      -moz-transition: ease-in-out .1s;
      -ms-transition: ease-in-out .1s;
      -o-transition: ease-in-out .1s;
    }

    .btn {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
      /* width: 490px; */
      padding: 22px;
      background: #c99b44;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      font-size: 15px;
      color: #fff;
      cursor: pointer;
    }

    .btn h2 {
      margin-right: 20px;
      color: #fff;
    }

    .sub {
      position: absolute;
      bottom: 0px;
    }