*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:hover,
*:not(:hover) {
    transition: linear .1s;
    -webkit-transition: linear .1s;
    -moz-transition: linear .1s;
    -ms-transition: linear .1s;
    -o-transition: linear .1s;
}

body {
    margin: 0;
    font-family: 'Myriad Pro Light Regular', 'Myriad Pro Bold',
        'Myriad Pro Italic',
        'Myriad Pro Light',
        'Myriad Pro Light Italic',
        'Myriad Pro Light Semibold',
        'Myriad Pro Light Semibold Italic',
        sans-serif;
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
}

h3 {
    text-transform: uppercase;
    font-size: 2.4rem;
}

p {
    font-size: 1.4rem;
}

button,
input {
    outline: none;
}

header {
    background-color: #dcdcdc;

}

.wrapper {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.head {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 230px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.phone a {
    font-size: 4rem;
    color: #767676;
}

.contact-us {
    background: url(../img/contact-us-bg.png)no-repeat center;
    background-size: cover;
    margin-bottom: 40px;
}

.contact-form-conteiner {
    min-height: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-left: 100px;
}

.contact-form-conetnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
}

.contact-form-title {
    color: #9da3d7;
    font-family: 'Myriad Pro Semibold';
    margin-bottom: 20px;
}

.contact-form {
    text-align: center;
    color: #fff;
    background: #9da3d7;
    padding: 25px 20px;
}

.contact-form h3 {
    margin-bottom: 25px;
    font-weight: 100;
}

.contact-form input {
    height: 50px;
    width: 290px;
    padding-left: 20px;
    font-size: 2.4rem;
    color: #767676;
    margin-bottom: 25px;
    border: none;
}

.get-button {
    font-family: 'Myriad Pro Semibold';
    font-size: 2.4rem;
    text-transform: uppercase;
    background: #ffc087;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 290px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.get-button:hover {
    color: #fffefe;
    background: #f59541
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.content h3 {
    color: #9da3d7;
    margin-bottom: 30px;
}

.slide img {
    border: #fff 7px solid;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.17);
    width: 100%;
}

.slide {
    margin: 20px 0;
}

.dot {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 3px rgb(221, 221, 221) solid;
    display: inline-block;
    box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.22);
    margin: 0 10px;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    position: relative;
    z-index: 1;
}

.slider-box {
    position: relative;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.active,
.dot:hover {
    background-color: rgb(157, 163, 215);
    box-shadow: inset 0px 0px 0px 3px #fff;
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-text h3 {
    margin-bottom: 30px;
}

.content-text p {
    margin-bottom: 75px;
    font-weight: 700;
    text-align: justify;
}

.colculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.calculator-form-title {
    color: #9da3d7;
    margin-bottom: 40px;
    font-family: 'Myriad Pro Semibold';
}

.calculator-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculate-form-navigate {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;
    width: 100%;
    margin-bottom: 35px;
}

.tablink {
    border: none;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 700;
}

.tablink img {
    margin-bottom: 25px;
}


.tablink:hover {
    color: #0099de;
    text-decoration: underline;
}

.tabcontent {
    width: 960px;
    height: 515px;
    padding: 35px 25px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 8px;
    background-color: rgba(232, 232, 232, 0);
    box-shadow: 2.5px 4.33px 10px 0px rgba(0, 0, 0, 0.23), inset 1px 1.732px 6px 0px rgba(0, 0, 0, 0.35);
}

.windows-size-option {
    display: flex;
    align-items: flex-start;
}

.windows-size {
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, 80px));
    grid-auto-rows: repeat(auto-fit, 40px);
    grid-template-areas:
        "a a a "
        "c b b "
        "c b b "
        "c b b "
        "d . g "
        "k e j ";
    align-items: center;
    align-content: center;
    justify-content: center;
    /* width: 35%; */
    margin-right: 115px;
    max-width: 270px;

}

.multiply-x {
    font-family: "Myriad Pro Bold";
    color: #0099de;
    font-size: 44px;
    font-weight: 700;
    grid-area: e;

}

.windows-size-width {
    grid-area: a;
    margin-bottom: 35px;
}

.windows-size-height {
    grid-area: c;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
}

.windows-size-width,
.windows-size-height {
    font-family: 'Myriad Pro Light Semibold Italic';
    font-size: 22px;
    color: #636363;
}


.windows-size-width-sm {
    grid-area: d;
}

.windows-size-height-sm {
    grid-area: g;
}

.windows-size-width-sm,
.windows-size-height-sm {
    text-align: start;
    font-size: 20px;
    width: 120px;
    margin-bottom: 15px;
}

.windows-size-width-input {
    grid-area: k;
}

.windows-size-height-input {
    grid-area: j;
}

.windows-size-width-input,
.windows-size-height-input {
    height: 42px;
    width: 80px;
    border: 2px rgb(162, 162, 162) solid;
    border-radius: 7px;
    font-size: 35px;
    color: #5d5d5d;
    text-align: center;
}


.window-size-img {
    grid-area: b;
    align-self: center;
    min-width: 100px;
    max-width: 200px;
    min-height: 160px;
    max-height: 180px;
    margin-bottom: 40px;
}

.windows-option {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
}

.tabcontent-title {
    text-transform: capitalize;
    font-size: 30px;
    font-family: 'Myriad Pro Semibold';
    color: #0099de;
    margin-bottom: 55px;
}

.windows-option ol {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.windows-option li {
    font-family: 'Myriad Pro Bold';
    font-size: 24px;
    margin-bottom: 24px;
}

.criterias {
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: -50px
}

.criterias input {
    margin-right: 10px;
    transform: scale(1.3);
    opacity: 0.9;
    cursor: pointer;
    color: rgb(151, 151, 151);
    margin-left: 30px;
}

.selection {
    width: 360px;
    height: 40px;
    border: 2px rgb(174, 174, 174) solid;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    padding-left: 25px;
    margin-left: -25px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;

    background: url(../img/arrow.png)no-repeat;
    background-size: 27px 21px;
    background-position: right 16px top 8px;
    margin-bottom: 65px;
}

.selection:hover {
    background: url(../img/arrow_hover.png)no-repeat;
    background-size: 27px 21px;
    background-position: right 16px top 8px;
    cursor: pointer;
    font-weight: 700;
    transition: linear .1s;
    -webkit-transition: linear .1s;
    -moz-transition: linear .1s;
    -ms-transition: linear .1s;
    -o-transition: linear .1s;
}

.selection::-ms-expand {
    /* для IE */
    display: none;
}

.calculate-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.calculate-button input {
    border-radius: 10px;
    border: none;
    width: 280px;
    height: 45px;
    background: #c6c6c6;
    background: url(../img/user.png)no-repeat top left, #c6c6c6;
    background-size: 43px 43px;
    background-position: left 1px top 1px;
    padding-left: 64px;
    font-size: 18px;
    margin-right: 22px;
}

.calculate {
    width: 280px;
    height: 45px;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Myriad Pro Bold';
    color: #fff;
    background: #9da3d7;
}

.calculate:hover {
    background: #606486;
    transition: linear .2;
    -webkit-transition: linear .2;
    -moz-transition: linear .2;
    -ms-transition: linear .2;
    -o-transition: linear .2;
}

footer {
    color: #fffefe;
    background: #767676;
    height: 150px;
    padding-top: 55px;
}

footer .wrapper p {
    font-size: 24px;
}