*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: .2s linear all;
  -webkit-transition: .2s linear all;
  -moz-transition: .2s linear all;
  -ms-transition: .2s linear all;
  -o-transition: .2s linear all;
}

button:active,
button:hover,
button:focus,
input:active,
input:hover,
input:focus {
  outline: 0;
  outline-offset: 0;
}

ul {
  list-style: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "NIMBSTB";
}

body {
  margin: 0 auto;
  font-family: "HelveticaNeueCyr-Roman";
  color: #f1f2f5;
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  /* background: url("../img/invacont_test.png")no-repeat center/cover; */
}


/* html {
  opacity: .7;
} */

.menu-bar {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30px;
  right: 30px;
  background: #347710;
  /* border: 2px solid #fff; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 15;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: none;
  cursor: pointer;
}

.menu-bar:hover {
  background: #e46107;

}

.close {
  position: fixed;
}

.menu-bar.change {
  /* border-color: #26311c; */
}

.bar {
  width: 25px;
  height: 2px;
  background: #fff;
  margin: 3px 0;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;

}


#bar-1.change {
  transform: rotate(45deg)translate(5px, 5px);
  -webkit-transform: rotate(45deg)translate(5px, 5px);
  -moz-transform: rotate(45deg)translate(5px, 5px);
  -ms-transform: rotate(45deg)translate(5px, 5px);
  -o-transform: rotate(45deg)translate(5px, 5px);
  -webkit-transform: rotate();
  /* background: #26311c; */
}

#bar-2.change {
  opacity: 0;
}

#bar-3.change {
  transform: rotate(-45deg)translate(6px, -6px);
  -webkit-transform: rotate(-45deg)translate(6px, -6px);
  -moz-transform: rotate(-45deg)translate(6px, -6px);
  -ms-transform: rotate(-45deg)translate(6px, -6px);
  -o-transform: rotate(-45deg)translate(6px, -6px);
  -webkit-transform: rotate();
  /* background: #26311c; */
}

.m-menu {
  transform: translateX(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  background: rgba(52, 119, 16, .9);
  z-index: 10;
  color: #fff;

  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}

.__menu-show {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.m-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  height: 90%;
  font-size: 1.6rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.m-menu li {
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  /* border-top: 2px solid transparent;
  border-bottom: 2px solid transparent; */
}

.m-menu li:hover {
  color: #fff;
  background: #e46107;
  /* border-color: #8dc705; */
}

.wrap {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.wrapper-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90%;
}

header {
  background: url('../img/top-bg.png')no-repeat center/cover;
  width: 100%;
  height: 870px;
  padding-top: 15px;
  border-bottom: 4px solid #e46107;
}

.logo img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;

}

#logo {
  width: 925px;
  margin-bottom: 85px;
  position: relative;
}

.shadow {
  overflow: hidden;
  width: 880px;
  height: 175px;
  background-image: radial-gradient(ellipse at top, rgb(19, 71, 8)0%, transparent 50%);
  position: absolute;
  top: 175px;
  border-radius: 50% 50% 50% 50% / 15% 15% 100% 100%;
  -webkit-border-radius: 50% 50% 50% 50% / 15% 15% 100% 100%;
  -moz-border-radius: 50% 50% 50% 50% / 15% 15% 100% 100%;
  -ms-border-radius: 50% 50% 50% 50% / 15% 15% 100% 100%;
  -o-border-radius: 50% 50% 50% 50% / 15% 15% 100% 100%;
}

#menu {

  position: absolute;
  top: 178px;
  height: 75px;
  background: transparent;
  border-radius: 55% 55% 50% 50% / 100% 100% 0% 0%;
  -webkit-border-radius: 55% 55% 50% 50% / 100% 100% 0% 0%;
  -moz-border-radius: 55% 55% 50% 50% / 100% 100% 0% 0%;
  -ms-border-radius: 55% 55% 50% 50% / 100% 100% 0% 0%;
  -o-border-radius: 55% 55% 50% 50% / 100% 100% 0% 0%;
  overflow: hidden;
}

.menu {
  position: relative;
  height: 75px;
  background: transparent;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

li {
  background: transparent;
  border-left: 1px solid transparent;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*font-weight: 500;
  */
  font-size: 1.9rem;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  min-height: 45px;
  position: relative;
  z-index: 1;
  padding: 25px 15px;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
}

.item::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 65px solid transparent;
}

.item::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 65px solid transparent;
}

.item:hover {
  background: #e46107;
}

.wrapper h1 {
  text-align: center;
  font-size: 6.8rem;
  font-family: "HelveticaNeueCyr-Black";
  color: rgb(241, 242, 245);
  font-weight: bold;
  text-shadow: 0px 0px 6px rgba(31, 88, 0, 0.75);
  margin-bottom: 20px;
  width: 100%;
  line-height: 0.882;
}

.container {
  padding: 0 160px;
}

.wrapper-content {
  padding: 30px 40px 40px;

  color: rgb(241, 242, 245);
  /* padding: 0 12.5%; */
  background-color: rgba(38, 49, 28, 0.702);
  text-align: center;
  font-family: "HelveticaNeueCyr-Thin";
  border-radius: 5px;
}

.wrapper-content h3 {
  font-size: 3.4rem;
  font-weight: 100;
  padding-bottom: 25px;
  line-height: 1.176;
}

.wrapper-content p {
  font-family: "Arial";
  font-size: 1.4rem;
  text-indent: 5px;
  line-height: 1.786;
  font-weight: 500;
}

header .wrapper:nth-child(3) {
  margin-bottom: 250px;
}

#cards {
  background: #26311c;
  width: 100%;
  /* height: 680px; */
  position: relative;
  /* margin-bottom: 50px; */
  z-index: 3;
}

.cards-wrapper {
  position: relative;
  margin-top: -120px;
  padding-bottom: 20px;
}

.card {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 220px;
  /* margin-right: 110px; */
  margin-bottom: 30px;
  color: #fff
}

.buffer {
  width: 110px;
}

/* .wrapper .card:nth-last-child(1) {
  margin-right: 0;
} */

.card-logo-wrap {
  border: 6px solid #fff;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 34px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card-logo {
  width: auto;
  min-height: 100%;
  cursor: pointer;
}

.card-title {
  font-family: "HelveticaNeueCyr-Thin";
  font-size: 3.4rem;
  /* font-weight: 100; */
  text-transform: capitalize;
  margin-bottom: 10px;
  color: #f1f2f5;
  /* width: 90%; */
  text-align: center;
}

.but {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 168px;
  height: 60px;
  text-transform: uppercase;
  font-size: 1.9rem;
  border: 2px solid rgb(161, 173, 151);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  /* font-weight: 500; */
}

.card .but:hover {
  color: #8dc705;
  border-color: #8dc705;
}

#pre-fotter {
  background: url('../img/bottom-bg.png')no-repeat center/cover;
  margin-top: -20px;
  min-height: 540px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #000000;
  padding: 80px 0 100px;
}

.wrapper-title {
  font-size: 3.4rem;
  font-family: "HelveticaNeueCyr-Thin";
  font-weight: 100;
  text-align: left;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 30px;
}

.bold {
  font-family: "HelveticaNeueCyr-Bold";
  /* font-weight: 700; */
  letter-spacing: 2px;
  font-size: 5.4rem;
  color: #48890a;
}

#pre-fotter {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#pre-fotter .container .wrapper {
  width: 50%;
}

.pre-fotter-wrapper-content {
  font-family: "Arial";
  font-size: 1.4rem;
  margin-bottom: 45px;
  font-weight: 500;
  line-height: 1.786;
}

.reversive {
  -ms-flex-item-align: start;
  align-self: flex-start;
  color: #48890a;
  border-color: #48890a;
}

.reversive:hover {
  color: #fff;
  border-color: #fff;
}

footer {
  border-top: 2px solid #7da83c;
  background: #fff;
  width: 100%;
  min-height: 135px;
  color: #7b7b7b;
}

footer .wrapper>.wrapper:nth-child(1) {
  /* height: 65px; */
}

footer .wrapper>.wrapper:nth-child(2) {
  height: 70px;
  background: #e4e4e4;
}

.footer-menu {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-menu .item {
  min-height: 0;
  padding: 0 0 0 40px;
  color: #7b7b7b;
}

.footer-menu .main {
  padding: 0;
}

.footer-menu .item:hover {
  color: #8dc705;
  background: none;
}

footer .footer-menu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #919191;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .container .wrapper-row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .container .wrapper-row a {
  font-size: 1.2rem;
  font-family: "Arial";
}

footer .container .wrapper-row a:hover {
  color: #8dc705;
}

/* ================ */