@font-face {
  font-family: "HelveticaNeueCyr-Black";
  src: url("../fonts/HelveticaNeueCyr-Black.ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src: url("../fonts/HelveticaNeueCyr-Roman.ttf");
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Light.ttf");
}

@font-face {
  font-family: "Helvetica-Thin";
  src: url("../fonts/HelveticaNeueCyr-Thin.ttf");
}

@font-face {
  font-family: "NimbusSanTConBold";
  src: url("../fonts/NimbusSanTConBold.ttf");
}