*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: .2s linear all;
  -webkit-transition: .2s linear all;
  -moz-transition: .2s linear all;
  -ms-transition: .2s linear all;
  -o-transition: .2s linear all;
}

button:active,
button:hover,
button:focus,
input:active,
input:hover,
input:focus {
  outline: 0;
  outline-offset: 0;
}

ul {
  list-style: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit
}

body {
  margin: 0 auto;
  max-width: 1280px;
  font-family: "HelveticaNeueCyr-Roman";
  /* background-color: #4e5e34 */
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.wrapper-row {
  flex-direction: row;
}

header {
  background: url('../img/top-bg.png')no-repeat center/cover;
  width: 100%;
  min-height: 870px;
  padding-top: 15px;
  border-bottom: 4px solid #e46107;
}

/* #header {
  position: relative;

} */

.logo img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
  /* box-shadow: 100px 100px 100px 100px #000; */
}

#logo {
  margin-bottom: 50px;
  position: relative;
}


#menu {
  position: absolute;
  top: 175px;
  background: transparent;
}



.menu {
  position: relative;
  height: 75px;
  background: transparent;
  align-items: flex-end;
  justify-content: center;

}

li {
  background: transparent;
  border-left: 1px solid transparent;
}



.item {
  display: flex;
  transform: scale(1, 1.3);
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  align-items: center;
  justify-content: flex-end;
  min-height: 45px;
  position: relative;
  z-index: 1;
  padding: 25px 15px;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transform: scale(1, 1.3);
  -moz-transform: scale(1, 1.3);
  -ms-transform: scale(1, 1.3);
  -o-transform: scale(1, 1.3);

}

.item:hover {
  background: #e46107;
}

.wrapper h1 {
  text-align: center;
  font-size: 50px;
  font-family: "NimbusSanTConBold";
  color: rgb(241, 242, 245);
  text-shadow: 0px 0px 6px rgba(31, 88, 0, 0.75);
}

.wrapper-content {
  padding: 35px 40px 40px;
  width: 75%;
  color: rgb(241, 242, 245);
  /* padding: 0 12.5%; */
  background-color: rgba(38, 49, 28, 0.702);
  text-align: center;
  font-family: "Helvetica-Thin";
  border-radius: 5px;
}

.wrapper-content h3 {
  font-size: 30px;
  font-weight: 100;
  padding-bottom: 25px;
}

.wrapper-content p {
  font-family: "HelveticaNeueCyr-Roman";
  font-size: 14px;
  text-indent: 5px;
  line-height: 1.786;
  font-weight: 500;
}