*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: .2s linear all;
  -webkit-transition: .2s linear all;
  -moz-transition: .2s linear all;
  -ms-transition: .2s linear all;
  -o-transition: .2s linear all;
}

button:active,
button:hover,
button:focus,
input:active,
input:hover,
input:focus {
  outline: 0;
  outline-offset: 0;
}

ul {
  list-style: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit
}

body {
  margin: 0 auto;
  max-width: 1280px;
  font-family: "HelveticaNeueCyr-Roman";
  /* background-color: #4e5e34 */
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.wrapper-row {
  flex-direction: row;
}

header {
  background: url('../img/top-bg.png')no-repeat center/cover;
  width: 100%;
  min-height: 870px;
  padding-top: 15px;
}

/* #header {
  position: relative;

} */

.logo img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* box-shadow: 100px 100px 100px 100px #000; */
}

#logo {
  margin-bottom: 120px;
  position: relative;
}




#menu {
  position: absolute;
  top: 175px;

}

.menu {
  /* justify-content: space-between; */
  min-width: 545px;

}

.menu li {
  position: relative;
}

.items-img {
  bottom: 0;
  position: absolute;
  opacity: 1;
  z-index: 0;
}

.items-img:hover a {
  opacity: 0;

}


.menu a {
  display: flex;
  /* width: 100%; */
  color: #fff;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  min-height: 75px;
  position: relative;
  z-index: 2;
  /* border: 1px solid red; */
}


.bg-item {
  opacity: 0;
}

#item-1 {
  min-width: 73px;
  /* background: url('../img/tab1.png')no-repeat center/cover; */
  /* background-blend-mode: hard-light; */
}

#item-2 {
  min-width: 136px;

}

#item-3 {

  min-width: 65px;

}

#item-4 {

  min-width: 165px;


}

#item-5 {
  min-width: 115px;
}