@media (max-width: 1500px) {}

@media (max-width: 1399px) {

  #hand {
    transform: scale(.5) translateX(33.5%);
    /*width: 50%;
    */
    /*height: 50%;
    */
    -webkit-transform: scale(.6) translateX(10%);
    -moz-transform: scale(.5) translateX(33.5%);
    -ms-transform: scale(.5) translateX(33.5%);
    -o-transform: scale(.5) translateX(33.5%);
    -webkit-transform: scale(.5) translateX(33.5%);
  }

  #modalform {
    transform: scale(.6)translateY(50%)translateX(50%);
    -webkit-transform: scale(.6)translateY(50%)translateX(50%);
    -moz-transform: scale(.6)translateY(50%)translateX(50%);
    -ms-transform: scale(.6)translateY(50%)translateX(50%);
    -o-transform: scale(.6)translateY(50%)translateX(50%);
  }

  #family img {
    width: 80%;
  }
}




@media (max-width: 1299px) {}

@media (max-width:999px) {}

@media (max-width:799px) {}

@media (max-width:699px) {}