@media (max-width: 1099px) {
  .menu ul {
    width: 80%;
  }

  #main .wrap {
    width: 90%;
  }

  .logo img {
    width: 150px;
  }

  .content {
    flex-direction: column;
  }

  .tabs {
    flex-direction: row;
    height: 200px;
  }

  .aside {
    flex-basis: 5%;
  }
}

@media (max-width:799px) {
  .header-title h1 {
    font-size: 20rem;
  }

  .menu {
    height: 200px;
  }

  .menu ul {
    flex-direction: column;
  }

}

@media (max-width:699px) {
  .logo img {
    width: 100px;
  }


  #map {
    height: 20vh;
  }

  .icons {
    width: 100%;
  }
}