@font-face {
  font-family: 'Myriad Pro Bold';
  src: url('/test/fonts/MyriadPro-Bold.ttf');
}

@font-face {
  font-family: 'Myriad Pro Italic';
  src: url('/test/fonts/MyriadPro-It.ttf');
}

@font-face {
  font-family: 'Myriad Pro Light';
  src: url('/test/fonts/MyriadPro-Light.ttf');
}

@font-face {
  font-family: 'Myriad Pro Light Italic';
  src: url('/test/fonts/MyriadPro-LightIt.ttf');
}

@font-face {
  font-family: 'Myriad Pro Light Regular';
  src: url('/test/fonts/MyriadPro-Regular.ttf');
}

@font-face {
  font-family: 'Myriad Pro Light Semibold';
  src: url('/test/fonts/MyriadPro-Semibold.ttf');
}

@font-face {
  font-family: 'Myriad Pro Light Semibold Italic';
  src: url('/test/fonts/MyriadPro-SemiboldIt.ttf');
}