@media (max-width: 1499px) {
    html {
        font-size: 14px;
    }

    .header {
        grid-template-columns: repeat(14, 100px);
    }

    .m-menu-link {
        grid-column: 12/12;
    }

    .menu {
        left: 1200px;
    }

    .wrappper {
        grid-template-rows: 900px 600px 1030px 897px 515px 700px;
    }

    .about {
        grid-template-columns: repeat(auto-fit, minmax(100px, 720px));
    }

    .about-photo img {
        height: 100%;
    }

    .galery {
        grid-template-columns: repeat(auto-fit, minmax(100px, 360px));
    }

    .galery .galery-photo:nth-child(4) img {
        width: 100%;
        height: 100%;
    }

    .instagram {
        padding-left: 110px;
    }

    .button {
        width: 350px;
    }

    .music {
        grid-template-columns: repeat(auto-fill, minmax(60px, 360px));
        grid-template-rows: 700px 600px;
    }

    #music .music-button-click {
        width: 250px;
    }

    .music-follow {
        grid-template-columns: repeat(2, 720px);
    }

    .music-follow .music-content:first-child {
        padding-left: 110px;
    }

    .music-follow .music-content:last-child p {
        padding-bottom: 51px;
    }

    .footer {
        grid-template-columns: 110px repeat(3, minmax(180px, max-content)) 110px;
    }
}

@media (max-width: 1299px) {
    .header {
        grid-template-columns: repeat(14, 85px);

    }

    .top_content {
        grid-template-columns: repeat(14, 85px);
    }

    .menu {
        left: 1000px;
    }

    .header_overley__active {
        border-left: 300px solid rgb(66, 183, 200);
    }

    .wrappper {
        grid-template-rows: 900px 1200px repeat(4, max-content);
    }

    .about {
        grid-template-columns: repeat(auto-fit, minmax(min-content, 1200px));
    }

    .about-photo {
        grid-row: 1/2;

    }

    .about-photo img {
        width: 100%;
    }

    .about-content {
        grid-row: 2/2;
        padding-left: 85px;
    }

    .galery {
        grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    }

    .galery-photo img,
    .photo-4 {
        width: 600px;
    }

    .photo-1,
    .photo-3 {
        grid-column: 1/3;
    }

    .photo-2,
    .photo-5 {
        grid-column: 3/5;
    }

    .instagram {
        grid-column: 1/3;
        padding: 85px;
    }

    .galery .galery-content:last-child {
        display: none;
    }

    .music {
        grid-template-rows: 897px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 500px));
    }

    .music .music-content:nth-child(1) {
        display: none;
    }

    .music .music-content:nth-child(2) {
        padding: 85px;
    }

    .music-follow {
        grid-template-columns: repeat(auto-fit, minmax(800px, max-content));
    }

    .music-follow .music-content:nth-child(1) {
        grid-column: 1/-1;
    }

    .music-follow .music-content:nth-child(2) {
        grid-column: 1/-1;
    }

    .music-content .button {
        margin-bottom: 150px;
    }

    .music-follow .music-content:first-child,
    .music-follow .music-content:last-child {
        padding-left: 85px;
    }

    .footer {
        grid-template-columns: 85px repeat(3, minmax(180px, max-content)) 85px;
    }

    .footer .footer-content:nth-child(1) {
        grid-column: 2/-1;
        margin-bottom: 50px;
    }

    .footer .footer-content:nth-child(2) {
        grid-column: 2/3;
    }

    .footer .footer-content:nth-child(3) {
        grid-column: 3/4;
        margin-bottom: 50px;
    }

    .subscribe {
        margin-bottom: 20px;
    }

    .contact {
        margin-bottom: 90px;
    }

    @media (max-width: 1099px) {
        .wrappper {
            max-width: 720px;
            grid-template-rows: 900px repeat(5, max-content);
        }

        .header {
            grid-template-columns: repeat(10, 72px);
            width: 720px;
        }


        .header_overley {
            border-left: 700px solid transparent;
        }

        .header_overley__active {

            border-left: 250px solid rgb(66, 183, 200);
        }

        .m-menu-link {
            grid-column: 9/9;
        }

        .menu {
            left: 500px;
        }

        .top_content {
            grid-template-columns: repeat(10, 72px);
        }

        .about {
            grid-template-columns: repeat(auto-fit, minmax(min-content, 720px));
        }

        .galery {
            grid-template-columns: minmax(min-content, 720px);
            grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
        }

        .galery-photo img,
        .photo-4 {
            width: 720px;
        }

        .photo-1,
        .photo-2,
        .photo-3,
        .photo-4,
        .photo-5 {
            grid-column: 1/-1;
        }

        .instagram {
            grid-column: 1/-1;
            padding: 85px 0 85px 85px;
            max-width: 720px;
        }

        .music-content {
            padding-bottom: 0;
        }

        .music {
            max-width: 720px;
            grid-template-rows: 497px 400px;
        }

        .music-follow {
            grid-template-columns: repeat(auto-fit, minmax(720px, max-content));
        }


        .footer .footer-content:nth-child(2) {
            grid-column: 2/-1;
        }

        .footer .footer-content:nth-child(3) {
            grid-column: 2/-1;
            margin-bottom: 50px;
        }

        .subscribe,
        .contact,
        .follow {
            margin-bottom: 20px;
        }

        .subscribe i {
            left: -45px;
            top: 15px;
        }
    }

    @media (max-width: 719px) {
        html {
            font-size: 8px;
        }

        .wrappper {
            max-width: 600px;
            grid-template-rows: 900px repeat(5, max-content);
        }

        .header {
            grid-template-columns: repeat(10, 60px);
            width: 600px;
        }

        .top_content {
            grid-template-columns: repeat(10, 60px);
        }

        .logo {
            grid-column: 2/5;
        }

        .menu {
            left: 350px;
        }

        .header_overley {
            border-left: 600px solid transparent;

        }

        .header_overley__active {

            border-left: 250px solid rgb(66, 183, 200);
        }

        .about {
            grid-template-columns: repeat(auto-fit, minmax(min-content, 600px));
        }

        .galery {
            grid-template-columns: minmax(600px, 600px);
            grid-template-rows: repeat(auto-fit, minmax(min-content, 414px));
        }

        .galery-photo img,
        .photo-4 {
            width: 600px;
        }

        .instagram,
        .music .music-content:nth-child(2) {
            grid-column: 1/-1;
            padding: 85px 20px 55px 60px;
            max-width: 600px;
        }

        .music {
            grid-template-rows: 497px 400px;
        }



        .music-follow {
            grid-template-columns: repeat(auto-fit, minmax(600px, 600px));
        }

        .music-follow .music-content:first-child,
        .music-follow .music-content:last-child {
            padding: 85px 20px 42px 60px;
        }

        .button {
            width: 250px;
        }

        .footer {
            grid-template-columns: 60px repeat(3, minmax(85px, max-content)) 60px;
        }

        .subscribe p {
            max-width: 260px;
        }

        input[type="text"] {
            width: 400px;
        }

        .subscribe i {
            left: -25px;
            top: 15px;
        }
    }

    @media (max-width: 429px) {
        html {
            font-size: 8px;
        }

        .wrappper {
            max-width: 320px;
            grid-template-rows: 900px repeat(5, max-content);
        }

        .header {
            grid-template-columns: repeat(10, 32px);
            width: 320px;
        }

        .top_content {
            grid-template-columns: repeat(10, 32px);
        }

        .logo {
            grid-column: 2/5;
        }

        .menu {
            left: 200px;
        }

        .header_overley {
            border-left: 300px solid transparent;

        }

        .header_overley__active {
            opacity: 1;
            border-left: 150px solid rgb(66, 183, 200);
        }

        .about {
            grid-template-columns: repeat(auto-fit, minmax(min-content, 320px));
        }

        .galery {
            grid-template-columns: minmax(min-320px, 320px);
            grid-template-rows: repeat(auto-fit, minmax(min-content, 414px));
        }

        .galery-photo img,
        .photo-4 {
            width: 320px;
        }

        .instagram,
        .music .music-content:nth-child(2) {
            grid-column: 1/-1;
            padding: 85px 20px 55px 32px;
            max-width: 320px;
        }

        .music {
            grid-template-rows: 497px 400px;
        }



        .music-follow {
            grid-template-columns: repeat(auto-fit, minmax(320px, 320px));
        }

        .music-follow .music-content:first-child,
        .music-follow .music-content:last-child {
            padding: 85px 20px 42px 32px;
        }

        .button {
            width: 250px;
        }

        .footer {
            grid-template-columns: 32px repeat(3, minmax(85px, max-content)) 32px;
        }

        .subscribe p {
            min-width: 260px;
        }

        input[type="text"] {
            width: 280px;
        }

        .subscribe i {
            left: 255px;
            top: -40px;
        }
    }
}