*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    transition: linear all .2s;
    -webkit-transition: linear all .2s;
    -moz-transition: linear all .2s;
    -ms-transition: linear all .2s;
    -o-transition: linear all .2s;
}

h1,
h2,
h3,
h4,
p,
a,
input,
ul {
    margin: 0;
    padding: 0;
}

p {
    font-size: 3.6rem;
}

h1 {
    font-size: 7.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3,
a {
    font-size: 1.8rem;
    text-decoration: none;
}

h2,
h3 {
    text-transform: uppercase;
}

.menu {
    display: none;
}

.wrappper {
    max-width: 1600px;
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: 900px 500px 1030px 897px 515px 605px;
    margin: auto;
}

.header {
    background: url(../img/header_bg.png) center no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 200px repeat(12, 100px) 200px;
    width: 100%;
    position: relative;
    z-index: -1;
}

.header_overley {
    opacity: 0.302;
    position: absolute;
    top: 0px;
    left: 471px;
    z-index: 5;
    border-bottom: 900px solid rgb(66, 183, 200);
    border-left: 1130px solid transparent;
}

.top_content {
    margin-top: 90px;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 200px repeat(12, 100px) 200px;
    grid-template-rows: minmax(min-content, max-content);
}

.logo {
    grid-column: 2/2;
}

.logo p {
    display: table-cell;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}

.m-menu-link {
    grid-column: 13/13;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.m-menu-link i {
    font-size: 30px;
    margin-bottom: 13px;
}

.header-content {
    grid-column: 2/8;
}

.header-content {
    grid-column: 2/8;
}

.header-content h1 {
    font-weight: 300;
}

.header-content p {
    font-size: 3rem;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(min-content, max-content);
}

.about-content {
    padding: 115px 55px;
    background-color: #f3f1ef;
    color: #666666
}

.galery {
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(2, 515px);
}

.galery-content {
    background-color: #3f729b;
}

.instagram {
    color: #f9f9f9;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 210px;
}

.instagram P {
    padding-top: 40px;
    margin-bottom: 40px;
    font-weight: 300;
}

.button {
    text-transform: uppercase;
    color: #f9f9f9;
    border: 2px solid #f9f9f9;
    padding: 18px 28px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    line-height: 1.2;
    display: inline-block;
    width: 280px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 700;
}

.music {
    background: url(../img/music_bg.png) no-repeat top;
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: 497px 400px;
}

.music .music-content:nth-child(1) {
    background-color: #282b2f;
    grid-row: 1/3;
}

.music .music-content:nth-child(2) {
    background-color: #212227;
    color: #2ebd59;
    grid-row: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 105px 0 55px;
}

.music .music-content:nth-child(2) p {
    font-size: 1.4rem;
    color: #f9f9f9;
    margin-bottom: 50px;
}

.music .music-content h2:nth-child(2) {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 40px;
}

.music .button {
    padding: 15px 17px;
    letter-spacing: 0px;
    color: #2ebd59;
    border-color: #2ebd59;
    width: 180px;
}