@font-face {
  font-family: "Luna";
  src: url(../fonts/Luna.ttf);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (max-device-width: 1366px) {

  .parallax,
  .first-bg-img,
  .second-bg-img,
  .third-bg-img {
    background-attachment: scroll;
  }
}

html {
  scroll-behavior: smooth;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Luna";
}

.wrapper {
  margin: 0px auto;
  max-width: 1920px;
  background-color: #1D242C;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1D242C;
}

.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.first-bg-img {
  background: url(../img/pic-1.jpg)center no-repeat;
  background-attachment: fixed;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 500px;

}



.second-bg-img {
  height: 500px;
  background: url(../img/pic-2.jpg)center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.white-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1D242C;
  background-color: #fafafa;
}

.third-bg-img {
  min-height: 700px;
  background: url(../img/pic-3.jpg)center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.third-bg-img+.white-bg {
  height: 300px;
}

footer {
  height: 500px;
}